.form-control {
    margin: 0.5rem 0;
  }
  
  .form-control label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .form-control input {
    display: block;
    width: 100%;
    border: 2px solid #242424;
    border-radius: 6px;
    font: inherit;
    line-height: 1.5rem;
    padding: 0 0.25rem;
  }
  
  .form-control input:hover {
    border-color: #ccc;
  }
  
  .form-control input:focus {
    outline: none;
    border-color: #CE828E;
  }
  
  .form-control.invalid input{
    border-color: #c73707;
    background: #ffd7d7;
  }
  
  .form-control.invalid label {
    color: #da3b06;
  }